.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 150ms ease, box-shadow 100ms ease;
  padding: 0.3em;
  padding-left: calc(0.3em * 3);
  width: 100%;
  max-width: 600px;

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
  }
}

.effect {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    background-image: linear-gradient(
      0,
      var(--mantine-color-blue-6),
      var(--mantine-color-green-6)
    );
  }
}

@media (width >= 40rem) {
  .card {
    padding: 2em;
  }
}
